.hv1:hover { color:#A35730 !important; }
.hv2:hover { background:#A35730 !important; }
.hv3:hover { background:#A35730 !important; color:#FBF8F4 !important; }
.hv4:hover { background:rgba(251,248,244,.14) !important; border-color:#FBF8F4 !important; }
.hv5:hover { border-color:#5E2B17 !important; background:#EFE3D8 !important; }
.hv6:hover { transform:scale(1.04) !important; }
.hv7:hover { transform:scale(1.05) !important; }
.hv8:hover { background:#5E2B17 !important; color:#FBF8F4 !important; }
.hv9:hover { border-bottom-color:#A35730 !important; }
.hv10:hover { transform:scale(1.06) !important; }
.hv11:hover { background:#FBF8F4 !important; color:#5E2B17 !important; }
.hv12:hover { transform:scale(1.07) !important; }
.hv13:hover { border-bottom-color:#FBF8F4 !important; color:#FBF8F4 !important; }
.hv14:hover { transform:scale(1.09) !important; }
.hv15:hover { border-color:#5E2B17 !important; background:#FBF8F4 !important; }
.hv16:hover { background:rgba(94,43,23,.1) !important; border-color:#5E2B17 !important; }
.hv17:hover { color:#B78765 !important; }
